#trafic-light{
    align-items: center;
    flex-direction: column;
}

#post{
    width: 20px;
    height: 200px;
    background-color: #B7960F;
}

#body{
    width: 200px;
    height: 450px;
    border-radius: 15px;
    background-color: #5A5953;
    border: 15px solid #E2BB19;
}

.lights{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.selected{
    -webkit-box-shadow:0px 0px 127px 22px rgba(232,221,151,0.9);
    -moz-box-shadow: 0px 0px 127px 22px rgba(232,221,151,0.9);
    box-shadow: 0px 0px 127px 22px rgba(232,221,151,0.9);
}

.bodyLight{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    gap: 15px;
}